@import url('https://fonts.cdnfonts.com/css/arcade-classic');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

/*---*/
.modal{
	width: 100%;
	height: 105vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 10;
}

.contenedor{
	width: 900px;
	height: 615px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	background-size: 100%;
	position: relative;
	background-color: transparent;
}
#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
} 
.contenedor header{
	padding: 10px;
	background: #db8046;
	color: #fff;
}
.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido{
	width: 100%;
	padding: 10px; 
}
.contenido h3{
	margin-bottom: 10px;
}
.contenido p{
	margin-bottom: 7px;
}
#btn-modal{
	display: none;
}
.lbl-modal{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 100%;
	}
}

#Jugador1, #Jugador1_s{
	
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border-color: #1d3a3b;
    background: #82f9ff;
    color: rgb(0, 0, 0);
	padding: 10px;
    margin-left: 19%;
    width: 270px;
}

#Jugador2_s{
	
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border-color: #1d3a3b;
    background: #82f9ff;
    color: rgb(0, 0, 0);
	padding: 10px;
    margin-left: 5%;
    width: 270px;
}

.configs{
	display: flex;
    margin-top: 32%;
    text-align: center;
    justify-content: space-between;
    padding: 0px 70px;
}

.configs_pause{
	display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0px 70px;
}

.pts{
	margin-top: 5%;
	background-color: transparent;
    color: #fff;
	
	font-family: 'ArcadeClassic', sans-serif!important;
}

.totalPuntos{
	background-color: transparent;
    color: #fff;
	-webkit-text-stroke: 2px #000;
	font-family: 'ArcadeClassic', sans-serif!important;
}


.tabla_puntos {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin-left: auto;
	margin-right: auto;
	font-family: 'ArcadeClassic', sans-serif!important;
	font-size: 30px;
}

.tabla_puntos thead tr {
    background-color: #000000;
    color: #ff7d26;
    text-align: left;
	-webkit-text-stroke: 0.5px #ff9a26;
}

.tabla_puntos tr {
    background-color: #1d1d1d;
    color: #ffff;
    text-align: left;
}


.tabla_puntos th,
.tabla_puntos td {
    padding: 12px 15px;
	text-align: center;
}

.tabla_puntos tbody tr {
    border-bottom: 1px solid #1d1d1d;
}

.tabla_puntos tbody tr:nth-of-type(even) {
    background-color: #444444;
}


.tabla_puntos tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


#btn_jugarClasico:hover,#btn_jugarSurv:hover{
    cursor: pointer;
	opacity: 0.8;
}
#btn_compartir:hover{
    cursor: pointer;
	opacity: 0.8;
}

#btn_resume:hover{
    cursor: pointer;
	opacity: 0.8;
}

#btn_principiante:hover, #btn_principiante_s:hover{
    cursor: pointer;
	opacity: 0.8;
}

#btn_avanzado:hover,#btn_avanzado_s:hover{
    cursor: pointer;
	opacity: 0.8;
}

#btn_lvl1:hover,#btn_lvl1_s:hover{
    cursor: pointer;
	opacity: 0.8;
}

#btn_lvl2:hover,#btn_lvl2_s:hover{
    cursor: pointer;
	opacity: 0.8;
}

#btn_Supervivencia:hover,#btn_Supervivencia_s:hover{
    cursor: pointer;
	opacity: 0.8;
}

#btn_Clasico:hover,#btn_Clasico_s:hover{
    cursor: pointer;
	opacity: 0.8;
}

#btn_jugarIndiv:hover,#btn_jugarMulti:hover{
    cursor: pointer;
	opacity: 0.8;
}

#btn_mute_m:hover,#btn_mute_e:hover{
	cursor: pointer;
	opacity: 0.8;
}

#btn_sound_m:hover,#btn_sound_e:hover{
	cursor: pointer;
	opacity: 0.8;
}

.progress-bar-container{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.8);
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

#id_back:hover{
	cursor: pointer;
	opacity: 0.8;
}

#progress-bar{
	width:30%;
	margin-top:0.5%;
	height:2%;

}

label{
	color: white;
	font-size: 2rem;
}


